---
---

@import "{{ site.theme }}";

body {
  background-color: #CDBEBB; /* replace with your color */
  background-image: url(nadray2crop.png); /* Adjust the path based on your repository structure */
    background-repeat: no-repeat;
    background-position: top center;
    /* Adjust as needed, e.g., 'contain' or specific dimensions */
  color: #613930; 
  font-family: "Courier New", monospace;
  border-style: solid;
  border-color: #B02712;
  margin-top: 120px;
}

div {
   background-color: #CDBEBB;
}

h1 {
  color: #B02712;
  font-weight: bold;
}

h2 {
  color: #B02712;
  font-weight: bold;
}

a {
  color: #347568;
}
