---
---

@import "{{ site.theme }}";
body {
  background-color: #CDBEBB; /* replace with your color */
  color: #613930; 
  font-family: "Courier New", monospace;
  border-style: solid;
  border-color: #946E68;
}
div {
  background-color: #E3D0CC;
}
pre {
 background: #CDBEBB;
}

h1 {
  color: #946E68;
  font-weight: bold;
}
a {
  color: #347568;
}
